{% extends 'mainKit.html' %}
{% block content %}
<div class="page-header align-items-start min-vh-100" loading="lazy">
    <span class="mask bg-gradient-dark opacity-1"></span>
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-4 col-md-8 col-12 mx-auto">
                <div class="card z-index-0 fadeIn3 fadeInBottom">

                    <h4 class="font-weight-bolder text-center mt-4 mb-0">Sign in</h4>

                    <div class="card-body">

                        <form role="form" class="text-start" action="" method="post">
                            {% csrf_token %}
                            <div class="input-group input-group-outline my-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control" name="username">
                            </div>
                            {% for error in form.username.errors %}
                            <p class="text-danger text-xs">{{ error }}</p>
                            {% endfor %}

                            <div class="input-group input-group-outline mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" name="password">
                            </div>
                            {% for error in form.password.errors %}
                            <p class="text-danger text-xs">{{ error }}</p>
                            {% endfor %}

                            {% if form.non_field_errors %}
                            <p class="text-danger text-xs">
                                {% for error in form.non_field_errors %}
                                {{ error }}
                                {% endfor %}
                            </p>
                            {% endif %}

                            <div class="text-center mb-2">
                                <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">Sign in</button>
                            </div>
                        </form>

                        <div>
                            <p class="text-md text-center">
                                OR
                            </p>
                            <div class="text-center">
                                <a href="{% url 'home'%}" class="btn bg-gradient-success w-100">
                                    Continue as a Guest
                                </a>
                            </div>
                            <p class="mt-3 text-sm text-center">
                                Don't have an account?
                                <a href="{% url 'register' %}">
                                    Sign Up
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
{% endblock %}