{% extends 'main.html' %}
{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2"></div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8">
                                        API COLLECTION</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8">
                                        SCAN TYPE</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8">
                                        SCAN DATE</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8">
                                        STATUS</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for scan in scans %}
                                <tr>
                                    <td class="">
                                        <span class="text-secondary text-sm font-weight-bold mx-3">
                                            {{ scan.coll_title }}
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="text-secondary text-sm font-weight-bold mx-3">
                                            {{ scan.scan_type }} Scan
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="text-secondary text-sm font-weight-bold mx-3">
                                            {{ scan.scan_date }}
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="text-secondary text-md font-weight-bold mx-3">
                                            {% if scan.status == "RUNNING" %}
                                            <span class="badge badge-sm bg-gradient-warning">RUNNING</span>
                                            {% elif scan.status == "COMPLETED" %}
                                            <span class="badge badge-sm bg-gradient-success">COMPLETED</span>
                                            {% else %}
                                            <span class="badge badge-sm bg-gradient-danger">FAILED</span>
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a href="{% url 'single-scan' scan.id %}" class="btn bg-gradient-info btn-sm "
                                            data-toggle="tooltip" data-original-title="View collection">
                                            View
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}