{% extends 'main.html' %}
{% block content %}

<div class="container-fluid pb-4">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'scans' %}" class="btn bg-gradient-info btn-sm ">
                Back
            </a>
            <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2"></div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8">
                                        ENDPOINT</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8">
                                        VULNERABILITY</th>
                                    <th class="text-uppercase text-secondary text-xs font-weight-bolder opacity-8">
                                        SEVERITY</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for scan_detail in scan_details %}
                                <tr class="clickable-row"
                                    data-href="{% url 'single-scan-vuln' last_scan_id scan_detail.id %}">
                                    <td class="">
                                        <span class="text-secondary text-sm font-weight-bold mx-3">
                                            {{ scan_detail.url }}
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="text-secondary text-sm font-weight-bold mx-3">
                                            {{ scan_detail.vulnerability.title }}
                                        </span>
                                    </td>
                                    <td class="">
                                        <span class="text-secondary text-sm font-weight-bold mx-3">
                                            {{ scan_detail.vulnerability.severity }}
                                        </span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}